@import "tailwindcss";

@theme {
  --font-serif: var(--font-noto-serif), '游明朝', serif;
}

/* ==============================
  1. カラーパレット
============================== */
:root {
  --color-main: #5A3A22;
  --color-main-hover: #70482c; 
  /* 濃茶 */
  --color-sub: #F5EFE6;
  /* 生成り */
  --color-bg: #FBF7F2;
  /* 薄ベージュ */
  --color-accent: #6B7B6A;
  /* 深緑 */
  --color-text: #2f4f3a;

  --btn-radius: 8px;
  --card-radius: 8px;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ==============================
  2. フォント
============================== */
html {
  font-family: var(--font-noto-serif), '游明朝', serif;
  background-color: var(--color-bg);
  line-height: 1.6;
}


/* ==============================
  3. UL
============================== */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ==============================
  4. ヘッダー・フッター
============================== */
footer {
  background-color: var(--color-sub);
  padding: 1rem 2rem;
}

/* ==============================
  5. レイアウト
============================== */
main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* ==============================
  6. レスポンシブ対応
============================== */
@media (max-width: 1024px) {
  main {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0.5rem;
  }

  header,
  footer {
    padding: 0.5rem 1rem;
  }
}
